.btnCancelar{
    background: #f14950 !important;
    color: #fff !important;
    width: 130px;
    font-size: 14px;
  }
  
  .btnConfirmar{
    background: #081d3a !important;
    color: #fff !important;
    width: 130px;
    font-size: 14px;
  }