/* footer */
.footer-text{
  font-size: 13px;
  padding: 16px;
  text-align: center;
}
.container-footer{
  height: 80px;
}
.footer-datos{
  height: 80px;
  padding: 16px;
  text-align: center;
  width: 100%;
}
.footer-color1{
  background-color: rgb(0, 37, 80);
  height: 80px;
}
.footer-color2{
  background-color: rgb(0, 44, 91);
  height: 80px;
}
.footer-color3{
  background-color: rgb(0, 47, 96);
  height: 80px;
}
.footer-color4{
  background-color: rgb(0, 52, 105);
  height: 80px;
}
.footer-color5{
  background-color: rgb(0, 58, 115);
  height: 80px;
}
